<div class="credits">
    <div class="avatar">
        <img src="/images/avatar.png" alt="avatar" />
    </div>
    <div class="information">
        <span>
            <h3>Autor</h3>
            <h5>Natalio Ruiz</h5>
        </span>
    </div>
</div>